<footer class="main-footer style-two" style="background-image:url(images/background/pattern-4.png)">
    <div class="auto-container">
        <!-- Widgets Section -->
        <div class="widgets-section">
            <div class="row clearfix">

                <!-- Big Column -->
                <div class="big-column col-lg-4 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-lg-12 col-md-12 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="logo">
                                    <a href="/"><img src="/images/logo-bg.png" alt="" /></a>
                                </div>
                                <ul class="footer-info-list">
                                    <li><span class="icon fa fa-location-arrow"></span> №45 S. Seýdi köçesi, Aşgabat, Turkmenistan</li>
                                    <li><span class="icon fa fa-phone"></span><a href="tel:+99363174888">+99363174888</a></li>
                                    <li><span class="icon fa fa-envelope-o"></span><a href="mailto:info@oguzfitness.com">info@oguzfitness.com</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Big Column -->
                <div class="big-column col-lg-8 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h4>Biziň hyzmatlarymyz</h4>
                                <ul class="list-link">
                                    <li><a href="/about">Biz barada</a></li>
                                    <li><a href="/price">Nyrhnamalar</a></li>
                                    <li><a href="/team">Toparymyz</a></li>
                                    <li><a href="/classes">Zallarymyz</a></li>
                                    <li><a href="/news">Habarlar</a></li>
                                    <li><a href="/contact">Kontakt</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget timing-widget">
                                <h4>Iş wagty</h4>
                                <ul>
                                    <li>Duşenbe – Şenbe:<span>09:00 – 22:00</span></li>
                                    <li>Ýekşenbe:<span>12:00 – 16:00</span></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="copyright">OguzFitness 2023</div>
        </div>

    </div>
</footer>