<!-- Main Footer -->
<footer class="main-footer style-two" style="background-image:url(images/background/pattern-4.png)">
    <div class="auto-container">
        <!-- Widgets Section -->
        <div class="widgets-section">
            <div class="row clearfix">

                <!-- Big Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="logo">
                                    <a href="index.html"><img src="images/logo-bg.png" alt="" /></a>
                                </div>
                                <ul class="footer-info-list">
                                    <li><span class="icon fa fa-location-arrow"></span>27 Division St, New York, <br>
                                        United State Aamrica</li>
                                    <li><span class="icon fa fa-phone"></span><a href="tel:+1-044-123-456-789">+1 (044)
                                            123 456 789</a></li>
                                    <li><span class="icon fa fa-envelope-o"></span><a
                                            href="mailto:info@example.com">info@example.com</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h4>Useful Links</h4>
                                <ul class="list-link">
                                    <li><a href="#">Terms and Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Cookie Policy & Date Protection</a></li>
                                    <li><a href="#">Complaints Policy</a></li>
                                    <li><a href="#">TimeTable Maniged</a></li>
                                    <li><a href="#">Update News</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Big Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h4>Our Services</h4>
                                <ul class="list-link">
                                    <li><a href="#">Fat Burn</a></li>
                                    <li><a href="#">Streching</a></li>
                                    <li><a href="#">Weight Loss</a></li>
                                    <li><a href="#">Self Defense</a></li>
                                    <li><a href="#">Body Building</a></li>
                                    <li><a href="#">Psycho Trainning</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget consult-widget">
                                <h4>Free Consultation</h4>
                                <div class="phone"><span class="icon fa fa-phone"></span> 1-800-643-430</div>
                                <div class="text">Power GYM lift is champ in providing its users with absolutely
                                    everything a fitness or gym site needs.</div>
                                <div class="social-links">
                                    <a href="#" class="fa fa-facebook"></a>
                                    <a href="#" class="fa fa-twitter"></a>
                                    <a href="#" class="fa fa-instagram"></a>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="copyright">Copyright 2020 Theme by expertthemes</div>
        </div>

    </div>
</footer>